.main {
  height: 300px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.App {
  font-family: sans-serif;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.language-select {
  float: right;
  margin-top: -35px;
}

p {
  font-size: 25px;
  line-height: 3px;
}

.example-text {
  padding: 20px;
  font-family: monospace;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input{
  margin-top: 30px;
  padding: 10px;
  font-size: 19px;
  letter-spacing: 1.5px;
}

.submit{
  margin-left: 30px;
  padding: 10px 30px;
  background-color: #708be1;
  color: #ffffff;
  font-size: 22px;
  border-radius: 5px;
  border: none;

}

.outputContainer{
  padding-top: 20px;
}

.output{
  font-size: 18px;
  padding: 10px;
}
